---

---

<nav class="sticky lg:text-xl font-mazius w-full h-fit flex flex-row justify-between px-8 py-6 bg-white/75 shadow-md items-center">
  <section>
    <a href="/" class="">
      <img src="/OrnateCup.svg" alt="Yesterweek.Email logo" class="w-16 h-16 hover:rotate-12" />
    </a>
  </section>

  <a href="/" class="font-bold text-2xl lg:text-4xl hover:scale-105">
    Yesterweek.Email
  </a>

  <section class="hidden lg:flex gap-6">
    <a href="/#about" class="font-medium hover:scale-105">About</a>
    <a href="https://twitter.com/zeu_dev" class="font-medium hover:scale-105">Twitter</a>
  </section>
</nav>
