---
import { eq, db, Issue, Editorial, Feature } from "astro:db";
import AdminLayout from "../../layouts/AdminLayout.astro"

const issues = await db.select()
  .from(Issue)
  .innerJoin(Editorial, eq(Issue.editorialId, Editorial.id))
  .innerJoin(Feature, eq(Issue.featureId, Feature.id));
---

<AdminLayout title="Postmaster Dashboard | Yesterweek.Email">
  <main class="flex flex-col gap-8">
    <h1 class="text-4xl font-mazius font-bold">Dashboard</h1>
    { issues.length === 0 && (
      <h2>No issues yet.</h2>
    )}

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
      { issues.map(({ Issue: issue, Editorial: editorial, Feature: feature }) => (
        <article class="flex flex-col gap-4 px-4 py-4 border rounded-xl w-fit min-w-96">
          <a href="/" class="self-end px-4 py-2 bg-white text-black">Go to Issue</a>
          <h2 class="font-mazius text-4xl font-bold">{ issue.lead }</h2>

          <div class="w-full h-0.5 bg-white" />

          <p class="text-lg self-end font-bold">Editoral</p>
          <h2 class="font-mazius text-4xl font-bold">{ editorial.subject }</h2>
          <p>{ editorial.content }</p>

          <div class="w-full h-0.5 bg-white" />

          <p class="text-lg self-end font-bold">Feature</p>
          <h2 class="font-mazius text-4xl font-bold">{ feature.headline }</h2>
          <p>{ feature.content }</p>
        </article>
      ))}
    </div>
  </main>
</AdminLayout>
