---
import AdminLayout from "../../layouts/AdminLayout.astro";
---

<AdminLayout title="Signup as Postmaster - Yesterweek.Email">
  <form 
    method="POST" 
    action="/api/signup"
    class="flex flex-col w-fit min-w-96 h-full p-8 gap-4"
  >
    <p>Signup</p>
    <input 
      type="text" 
      id="username" 
      name="username" 
      placeholder="Username"
      class="border border-white px-4 py-2 text-white bg-transparent"
      required
    />
    <input 
      type="password" 
      id="password" 
      name="password" 
      placeholder="Password"
      class="border border-white px-4 py-2 text-white bg-transparent"
      required
    />
    <input 
      type="password" 
      id="secret"
      name="secret" 
      placeholder="What is the secret password?"
      class="border border-white px-4 py-2 text-white bg-transparent"
      required
    />
    <button class="bg-white text-black px-4 py-2">Continue</button>
  </form>
</AdminLayout>
